<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
      .container {
        width: 600px;
        margin: 15px auto;
        padding: 15px;
        box-shadow: 0px 0px 5px #ccc;
      }
      img {
        width: 200px;
        margin: 50px 60px;
        border-radius: 15px;
        box-shadow: 0px 0px 5px #777676;
        transition: all 0.3s;
      }
      img:hover {
        opacity: 0.8;
        box-shadow: 0px 0px 15px #121212;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello World</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        perferendis, animi veniam delectus soluta voluptatem molestiae ratione
        fugiat unde id, omnis, at facere doloremque commodi et iste
        exercitationem totam quod. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Non amet, natus cumque tempora delectus hic officia
        odio dolores quas. Error repellat voluptates inventore itaque! Voluptas
        consequatur laudantium rerum rem dolorem.
      </p>
    </div>

    <img src="ai.PNG" alt="" />
  </body>
</html>
