<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="flexbox.css" />
  </head>
  <body>
    <div class="fullpage">
      <h1>Full Page Banner</h1>
      <a class="btn-action" href="#">Get Started</a>
    </div>

    <section>
      <div class="container">
        <h2>Welcome to Homepage!</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, beatae
          quas similique magnam aspernatur repudiandae optio doloribus omnis
          velit libero unde voluptatibus voluptatum nisi nam nesciunt nobis eius
          harum veritatis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, beatae
          quas similique magnam aspernatur repudiandae optio doloribus omnis
          velit libero unde voluptatibus voluptatum nisi nam nesciunt nobis eius
          harum veritatis!
        </p>
      </div>
    </section>
  </body>
</html>
