* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.login-form {
  background-color: whitesmoke;
  width: 300px;
  padding: 30px;
  text-align: center;
  margin: 30px auto;
  box-shadow: 0 0 25px #ccc;
  border-radius: 4px;
}
.login-form h4 {
  margin-bottom: 15px;
  color: #236a38;
}
label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}
input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
input:focus-visible {
  outline: 1px solid #236a38;
  border: 1px solid #236a38;
}

button {
  padding: 5px 15px;
  background-color: #236a38;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 2px #237436;
}
button:hover {
  background-color: #184826;
}
