<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="form.css" />
  </head>
  <body>
    <div class="login-form">
      <h4>Sign In</h4>
      <form>
        <label for="username">Username</label>
        <input type="text" id="username" />
        <label for="passowrd">Password</label>
        <input type="password" id="passowrd" />
        <button>Sign in</button>
      </form>
    </div>
  </body>
</html>
