<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        width: 600px;
        height: 200px;
        border: 2px solid red;
        border-radius: 10px;
        margin: 25px auto;
        background-image: linear-gradient(
            0deg,
            rgba(4, 0, 255, 0.5),
            rgba(219, 0, 0, 0.5)
          ),
          url(bg.png);
        background-size: cover;
      }
      h1 {
        text-align: center;
        line-height: 170px;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h1>Hello World</h1>
    </div>
  </body>
</html>
