/* #020d26*/

.top-header {
  background-color: #020d26;
}

.text-primary {
  color: #ff5e14 !important;
}
.btn-primary {
  background-color: #ff5e14 !important;
  border: #ff5e14;
}

.brand-logo {
  max-width: 120px;
}
.btn-search {
  width: 40px !important;
  height: 40px !important;
  display: inline-block !important;
}

h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 46px;
  font-weight: bold;
  color: #151222;
  position: relative;
  padding-bottom: 16px;
  margin: 1rem 0;
}

h2:before {
  content: "";
  background: #ff5e14;
  width: 60px;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2:after {
  content: "";
  background: #ff5e14;
  width: 15px;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  left: 65px;
  bottom: 0;
}

h2 span {
  font-weight: 300;
  display: block;
  font-family: "Barlow Condensed", sans-serif;
}
h4 {
  font-family: "Barlow Condensed", sans-serif;
}
p,
ul {
  color: #687187;
  line-height: 1.7em;
  margin-bottom: 1rem;
}
blockquote {
  color: #687187;
  line-height: 1.7em;
  margin-bottom: 1rem;
  margin-top: 35px;
  background: #ff5e1408;
  border: 0;
  padding: 25px;
  border-left: 2px solid #fff1e8;
}

blockquote cite {
  display: block;
  font-style: normal;
  font-size: 13px;
  padding-top: 15px;
}

#highlights img {
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
}
#about-us {
  padding: 0 0 110px 0;
}
#about-us span {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
}

#services {
  background-color: #f7f9fa;
  padding: 110px 0;
}

.center-title h2:before {
  left: calc(50% - 30px) !important;
}
.center-title h2:after {
  left: calc(50% + 33px) !important;
}

.card:hover h4 {
  color: #ff5e14;
}
