<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="landing-page.css">
</head>

<body>
    <header>
        <div class="hero-overlay">
            <nav>
                <a class="brand-logo" href="#">
                    <img src="images/logo.PNG" alt="">
                    <span>Append</span>
                </a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
                <a class="btn-action" href="#">Get Started</a>
            </nav>

            <div class="container">
                <h1>Welcome to Our Website</h1>
                <p>We are team of talented designers making websites with Bootstrap</p>
                <form action="">
                    <div class="input-group">
                        <input type="email" placeholder="enter email address" focused>
                        <button>Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

</body>

</html>