:root{
    --primary-color:#e84545;
    --white:#fff;
    --dark:#222;
    --text-color:#6c757d;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    line-height: 1.5;
    color: var(--text-color);
}
/* #1266f2, #4f4f4f, #e84545 */

/* =========== utility ================================= */
.row {
    display: flex;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.grow-1{
    flex-grow: 1;
}
.mt-30{
    margin-top: 30px;
}
.w-50{
    width: 50%!important;
}
.w-25{
    width: 25%!important;
}
/* =========== utility ================================= */

/* header banner */
header{
    background-color:#1266f2;
    height: 100vh;
    background-image: url(images/laptop-hd-wallpaper.jpg);
    background-size: cover;
}
.hero-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color:var(--white);
    display: block;
    padding: 15px;
}
nav ul li a:hover{
    color: #aeadad;
}

nav .icons a{
    color:var(--white);
    padding: 2px 5px;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.mh-100{
    height: calc(100vh - 48.4px);
}

header h1{
    font-size: 50px;
    color:var(--white);
}
header p{
    color:var(--white);
    padding: 10px 0;

}
header form .input-group{
    background-color: var(--white);
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
}
header form input{
    padding: 5px;
    width: 350px;
    border: none;
    font-size: 16px;
}
header form input:focus{
    outline: none;
}
header form button{
    background-color: var(--primary-color);
    padding: 12px 20px;
    border-radius: 4px;
    color:var(--white);
    border: none;
}

/* #getStarted */
#getStarted{
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 60px 0;
}
#getStarted h2{
    font-size: 40px;
}
#getStarted p{
width: 60%;
margin: 15px auto;
color:var(--white)
}

.btn-action{
    background-color: var(--white);
    color:var(--dark);
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-action:hover{
    background-color: rgb(211, 211, 211);
    box-shadow: 0 2px 2px #9c2929;
    transition: all 0.5s;
}

/* #services */
#services{
    padding: 60px 0;
}
#services h2 {
    font-size: 40px;
text-align: center;
margin-bottom: 30px;
}
#services .card{
    padding: 15px;
    text-align: center;
}
#services .card i{
    font-size: 60px;
    color:var(--primary-color)
}
#services .card h3{
    padding: 15px 0;
}
#services img{
    width: 100%;
    /* height: 300px;
    object-fit: cover; */
}
#services .img-grid{
    position: relative;
    transition: all 0.5s;
}
#services .grid-overlay {
    background-color: rgba(232, 69, 69,0.95);
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services .img-grid:hover .grid-overlay {
    display: flex;
    transition: all 0.5s;
}
#services .grid-overlay span{
    color:rgba(255, 255, 255,0.5);
    text-transform: uppercase;
    font-weight: bold;
}
#services .grid-overlay h4 {
    color: rgba(255, 255, 255, 0.95);
    font-size: 24px;
}
.download{
    padding: 120px 0;
    text-align: center;
    color:var(--white);
    background-color: rgb(33,37,41);
}

/* #getInTouch */
#getInTouch{
    padding: 60px 0;
    text-align: center;
}
#getInTouch h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
#getInTouch form input{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
}
#getInTouch form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
}
#getInTouch form button {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

/* footer */
footer{
    background-color: #f8f9fa;
    padding: 60px 0;
    text-align: center;
    font-size: 20px;
}
