* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 16px;
}
header {
  background-color: aquamarine;
  padding: 30px 15px;
}
nav {
  background-color: tomato;
  padding: 5px 15px;
}
main {
  background-color: violet;
  padding: 15px;
  overflow: hidden;
}
footer {
  background-color: #0cac5c;
  padding: 15px;
  clear: both;
}
.content {
  width: 70%;
  background-color: burlywood;
  float: left;
  padding: 15px;
}
aside {
  width: 28%;
  height: 140px;
  background-color: brown;
  float: right;
  padding: 15px;
}
section {
  background-color: yellow;
  padding: 15px;
}
article {
  background-color: steelblue;
  padding: 15px;
  margin-top: 15px;
}
